:root {
--main-padding: calc((100% - 1600px) / 2);
}

html, body, #root, .App {
    min-height: 100vh;
}

header, footer {
    height: 70px;
    padding: 0 var(--main-padding);
    background: teal;
    display: flex;
    align-items: center;
}

.App {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

header .logo {
    font-size: 32px;
    color: #FFF;
}

.logo:hover {
    color: #BDBDBD;
}

footer .logo {
    font-size: 18px;
    color: #FFF;
}

.logo {
    transition: .4s;
}

.main {
    flex: 1 0 auto;
    padding: 0 var(--main-padding);
}

.loader_container {
    flex: 1 0 auto;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    border: 10px dotted #FFF;
    border-radius: 50%;
    animation: rotate_loader 2s infinite linear;
}

@keyframes rotate_loader {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 1620px) {
    :root {
        --main-padding: 10px;
    }
}